*,
*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    font-family: 'Roboto',sans-serif;
    font-size:10px;
    box-sizing: border-box;
}
.header{
    font-size:30px;
    background-color: #7858A6;
    text-align: center;
    color:white;

}
section{
    width:100%;
    height:100vh;
    display: flex;
    background-color: #7858A6;
    align-items: center;
    justify-content: center;
}
.container{
    width:100%;
    max-width: 80rem;
    margin:0 auto;
    padding:0 1.5rem;
}
.accordion-item
{
    background-color:#371B58;
    border-radius:0.4rem;
    margin-bottom:1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}
.accordion-link{
    font-size:1.6rem;
    color: rgba(245, 235, 235, 0.8);
    text-decoration: none;
    background-color: #371B58;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding : 1rem 0;
}
.accordion-link i{
    color:#e7d5ff;
    padding: .5rem;
}
.accordion-link .minus{
    display: none;
}
.answer{
    max-height:0;
    overflow: hidden;
    position:relative;
    background-color:#371B58;
    transition: max-height 650ms;
    
}
.answer::before{
    content : "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #F2EBE9;
    top:50%;
    left:0;
    transform: translateY(-50%);
    
}
.answer p{
    font-size: 2rem;
    color:rgba(255,255,255);
    padding:2rem;
}

.accordion-item:target .answer{
    max-height:40rem;

}
.accordion-item:target .accordion-link .plus{
    display: none;
}
.accordion-item:target .accordion-link .minus{
    display: block;
}
footer{
    font-size:25px;
    background-color: #7858A6;
    color:white;
    text-align: center;
}